@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

/*Colors*/

:root{

    /*Neutral*/
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral-0:hsl(0, 0%, 100%);

    /*Orange*/
    --orange-500: hsl(28, 100%, 52%);
    
    /*Blue*/
    --Blue-500: hsl(233, 67%, 56%);
    --Blue-700: hsl(248, 70%, 36%);
}

/*text-presets*/

.text-preset-1{
    font-family: "DM Sans";
    font-size: 96px;
    font-weight: 600;
    font-style: italic;
    line-height: 100%;
    letter-spacing: -2px;
}

.text-preset-2{
    font-family: "Bricolage Grotesque";
    font-size: 52px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-3{
    font-family: "DM Sans";
    font-size: 32px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0px;
}

.text-preset-4{
    font-family: "DM Sans";
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-5{
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-5-medium{
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-6{
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-7{
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-preset-8{
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
}

/*Default*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease;
}